<a href="https://colab.research.google.com/github/xia0405/Master-thesis-NLP/blob/master/data_download.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import os
import json
import gzip
import pandas as pd
from urllib.request import urlopen

In [3]:
!wget http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Sports_and_Outdoors_5.json.gz

--2020-05-12 12:18:34--  http://deepyeti.ucsd.edu/jianmo/amazon/categoryFilesSmall/Sports_and_Outdoors_5.json.gz
Resolving deepyeti.ucsd.edu (deepyeti.ucsd.edu)... 169.228.63.50
Connecting to deepyeti.ucsd.edu (deepyeti.ucsd.edu)|169.228.63.50|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 414308704 (395M) [application/octet-stream]
Saving to: ‘Sports_and_Outdoors_5.json.gz’

Sports_and_Outdoors 100%[===================>] 395.12M  8.47MB/s    in 55s

2020-05-12 12:19:28 (7.22 MB/s) - ‘Sports_and_Outdoors_5.json.gz’ saved [414308704/414308704]

In [4]:
### load the meta data

data = []
with gzip.open('Sports_and_Outdoors_5.json.gz') as f:
    for l in f:
        data.append(json.loads(l.strip()))
    
# total length of list, this number equals total number of products
print(len(data))

# first row of the list
print(data[0])

2839940
{'overall': 5.0, 'verified': True, 'reviewTime': '06 3, 2015', 'reviewerID': 'A180LQZBUWVOLF', 'asin': '0000032034', 'reviewerName': 'Michelle A', 'reviewText': 'What a spectacular tutu! Very slimming.', 'summary': 'Five Stars', 'unixReviewTime': 1433289600}

In [5]:
# first row of the list
print(data[10])

{'overall': 5.0, 'verified': True, 'reviewTime': '08 2, 2016', 'reviewerID': 'A36QT6N7N0GF3O', 'asin': '0899332757', 'style': {'Format:': ' Paperback'}, 'reviewerName': 'Love is all I have', 'reviewText': 'Delorme has always made the best book maps in the USA.  Three thumbs up!', 'summary': 'Five Stars', 'unixReviewTime': 1470096000}

In [6]:
# convert list into pandas dataframe

df = pd.DataFrame.from_dict(data)

print(len(df))

2839940

In [9]:
df.tail(10)

         overall  verified  ... vote image
2839930      5.0      True  ...  NaN   NaN
2839931      5.0      True  ...  NaN   NaN
2839932      4.0      True  ...  NaN   NaN
2839933      5.0      True  ...  NaN   NaN
2839934      5.0      True  ...  NaN   NaN
2839935      5.0      True  ...  NaN   NaN
2839936      5.0      True  ...  NaN   NaN
2839937      5.0      True  ...  NaN   NaN
2839938      5.0      True  ...  NaN   NaN
2839939      5.0      True  ...  NaN   NaN

[10 rows x 12 columns]

In [11]:
### remove rows with unformatted title (i.e. some 'title' may still contain html style content)

df_save = df[["overall","reviewText"]] 
df_save.head()

   overall                                         reviewText
0      5.0            What a spectacular tutu! Very slimming.
1      1.0  What the heck? Is this a tutu for nuns? I know...
2      5.0                  Exactly what we were looking for!
3      5.0  I used this skirt for a Halloween costume and ...
4      4.0  This is thick enough that you can't see throug...

In [0]:
df_save.to_csv("")